<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849033912129-24hln8bah7l1j0t7krd4akvuc0bangbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849033912129-24hln8bah7l1j0t7krd4akvuc0bangbb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>849033912129-mtgdlvgf4jlns2b0asngnoe5nd8unkjq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDB01sfDauR2sVi15-67G1mxd7N3W9mBA4</string>
	<key>GCM_SENDER_ID</key>
	<string>849033912129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.zaap-canada-ios</string>
	<key>PROJECT_ID</key>
	<string>zaap-canada</string>
	<key>STORAGE_BUCKET</key>
	<string>zaap-canada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:849033912129:ios:b70df4a7a9ed8e4efbcbc0</string>
	<key>DATABASE_URL</key>
	<string>https://zaap-canada-default-rtdb.firebaseio.com</string>
</dict>
</plist>
